#container {
  display: grid;
  place-items: center;
  height: 100vh;
}

#quote {
  width: 60%;
  margin: auto;
}

#text {
  font-size: xx-large;
  text-align: justify;
  font-style: italic;
}

#text p::before {
  content: "\201C"; 
  font-size: 2em;
}

#author {
  font-size: x-large;
  text-align: right;
  margin-right: 50px;
}
