#container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  height: 100vh;
}

#get-quote-container {
  width: 60%;
  margin: auto;
}

#get-quote-text {
  font-size: xx-large;
  text-align: justify;
  font-style: italic;
}

#get-quote-text p::before {
  content: "\201C"; 
  font-size: 2em;
}

#get-quote-author {
  font-size: x-large;
  text-align: right;
  margin-right: 200px;
}

#get-quote-author p::before {
  content: "\2014";
}

#btn-get-quote {
  width: 150px;
  height: 30px;
  font-size: large;
}

#get-quote-button-container {
  text-align: center;
  padding: 50px;
}

#add-quote-container {
  width: 60%;
}

#add-quote {
  width: 100%;
  display: grid;
  grid-template-rows: 0.5fr 3fr 0.5fr 1fr 1fr;
}

#label-add-quote-text {
  font-size: large;
}

#add-quote-text {
  height: 150px;
  font-size: large;
}

#label-add-quote-author {
  font-size: large;
}

#add-quote-author {
  height: 30px;
  font-size: large;
}

#btn-add-quote {
  width: 150px;
  height: 30px;
  margin: auto;
  height: 30px;
  font-size: large;
}

textarea {
  resize: none;
}