#chat-container {
  height: 100vh;
  width: 80%;
  margin: auto;
}

#chat {
  width: 100%;
  height: 80vh;
  overflow-y: auto;
}

#message-panel {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

#username-container {
  display: block;
}

#message-container {
  display: block;
}

#username {
  width: 90%;
  height: 20px;
}

#message {
  width: 100%;
  height: 70px;
}

#button-container {
  margin: auto;
}

#btn-send {
  width: 70px;
  height: 30px;
}


textarea {
  resize: none;
}